* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

div {
  margin-bottom: 15px;
}

.px-size {
  font-size: 16px;
}

.em-size {
  font-size: 2rem;
}

.ch-size {
  font-size: 16ch;
}

.vh-size {
  font-size: 16vh;
}

.border-box-attribute {
  padding: 10px;
  margin: 10px;
  width: 400px;
  box-sizing: border-box;
}

.txt-decorations-cls {
  margin: 5px;
}

.content-box-attribute {
  padding: 10px;
  margin: 10px;
  width: 400px;
  box-sizing: content-box;
}

.font-family-cls {
  font-size: 20px;
}

.ul-list {
  /* line-height: 1rem; */
  list-style-image: url("https://cdn.iconscout.com/icon/premium/png-16-thumb/check-4395731-3644381.png?f=webp");
  list-style-type: circle;
  list-style-position: inside;
}
.ul-list:nth-child(1) {
  color: red;
}
/* .ul-list ::marker {
  content: "hllo world";
} */

.nav-vertical {
  border: 2px solid #333;
  border-radius: 2rem;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 600px;
  text-align: center;
  font-size: 3rem;
}

.nav-vertical h2 {
  background-color: gold;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 1rem;
}

.nav-vertical ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}

.nav-vertical li {
  border-top: 1px solid #333;
}

.nav-vertical li a {
  text-decoration: none;
  display: block;
}
.nav-vertical li a:visited {
  text-decoration: none;
  color: #333;
}

.nav-vertical li a:hover,
.nav-vertical li a:focus {
  background-color: #333;
  color: whitesmoke;
  cursor: pointer;
}

.nav-vertical li:last-child a {
  border-radius: 0rem 0rem 2rem 2rem;
}

.inline-element {
  padding: 2rem;
  margin: 5rem;
  background-color: #333;
}

.inline-block-element {
  display: inline-block;
  margin: 2rem;
  padding: 5rem;
  background-color: #333;
}

.navbar-horizontal {
  background-color: #000;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  padding: 0pc;
}

.navbar-horizontal ul {
  padding: 0;
  margin: 0;
}

.navbar-horizontal li {
  display: inline-block;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.navbar-horizontal li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar-horizontal li:hover,
.navbar-horizontal li:focus {
  background-color: red;
}

.columns {
  column-count: 4;
  column-width: 250px;
  column-gap: 3rem;
  column-rule: #333;
  break-inside: avoid;
  padding: 1rem;
}

.position-playground {
  height: 100vh;
  min-height: 100vh;
  background-color: #2f4f4f;
  position: relative;
}

.position-item {
  min-height: 250px;
  max-height: 250px;
  max-width: 250px;
  min-width: 250px;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.position-absolute {
  position: absolute;
  right: 0px;
  top: -20px;
  background-color: red;
}

.position-fixed {
  position: fixed;
  background-color: green;
  right: 0px;
  top: 0px;
}

.position-sticky {
  position: sticky;
  background-color: blue;
  left: 150px;
  top: 0px;
}

.position-static {
  position: static;
  background-color: orange;
  left: 250px;
  top: 0px;
}

.position-relative {
  position: relative;
  background-color: yellow;
  right: -50%;
  top: 0;
}

#section1 {
  background-color: royalblue;
}

#section2 {
  background-color: chocolate;
}

#section3 {
  background-color: crimson;
}

.header-positioning-section {
  height: 100vh;
}

.header-positioning-section > h2 {
  font-size: 4rem;
  color: #333;
  position: sticky;
  top: 0;
}

.header-positioning-footer {
  text-align: center;
  background-color: #333;
  position: sticky;
  bottom: 0px;
  font-size: 3rem;
}

.header-positioning-footer > ul > li a {
  text-decoration: none;
  color: whitesmoke;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-positioning-footer > ul > li a:visited {
  color: whitesmoke;
}

.header-positioning-footer > ul > li a:hover,
.header-positioning-footer > ul > li a:active {
  background-color: red;
}

.header-positioning-footer > ul > li {
  display: inline-block;
}

.flex-container-box {
  height: 3rem;
  width: 3rem;
  background-color: #333;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

.flex-container-box:nth-child(odd) {
  flex-grow: 2;
  flex-shrink: 2;
}

.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
